body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-me {
    margin-top: 20px;
}

.about-me h2 {
    font-size: 3em;
    color: #333;
}

.about-me p {
    font-size: 1.5em;
    color: #777;
}

.circles {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0 20px;
}

.resume {
    background-color: #ff4d4d; /* Warna merah */
}

.work {
    background-color: #4db8ff; /* Warna biru */
}

.skills {
    background-color: #ffcc00; /* Warna kuning */
    color: #333;
}

.circle:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.description {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 30px;
    text-align: center;
}

.description a {
    color: #008080;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.description a:hover {
    color: #005f5f;
}

.projects {
    margin-top: 40px;
}

.projects h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.projects ul {
    list-style-type: none;
    padding: 0;
}

.projects ul li {
    background-color: #f0f8ff;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.projects ul li:hover {
    background-color: #e0f0f7;
}